body{
    color: #fff;
    background-image: url("Untitled design.png");
    background-size: cover;
}

.heading{
    width: 80%;
    font-size: 22px;
}

.name_of_objects, #result_object_name, #result_object_accuracy{
    color: #0b0e9e;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}